
.navbar{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav a{
    font-size: 20px;
    font-weight: 400;
    padding: 8px 20px;
    color: #FFF;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    text-decoration: none;
}

nav a.is-active{
    background-color: #606C38;
}